.inputs {
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20%;
}
.input {
  width: 40px;
  height: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-weight: 100;
  margin-bottom: 25px;
  border: 1px solid #00b4d8;
  font-family: "light";
  font-size: 14px;
}
.title {
  text-align: center;
  font-family: "thin";
  font-size: 20px;
  margin-bottom: 3px;
}
.subtitle {
  font-family: "medium";
  text-align: center;
  font-size: 15px;
  margin-left: 5px;
  color: #1f1f1f;
}
